<template name="restuarant_chef">
  {{> list_invoices}}
</template>
<template name="list_invoices">
  <div class="container">
  	<div class="row">
  		<div class="timeline-centered">
    {{#each invoices}}
      {{#if isEven index}}
      	<article class="timeline-entry">

          <div class="timeline-entry-inner">
            <time class="timeline-time"><span>{{format createdAt}}</span> <span>{{livestamp createdAt}}</span></time>

            <div class="timeline-icon bg-secondary">
              <i class="entypo-feather"></i>
            </div>

            <div class="timeline-label">
              <h2><a href="#">Table #{{tableNumber}}</a> <span>Invoice ID:{{invoiceId}}</span>&nbsp;<input type="checkbox" name="done" class="done" checked="{{completed _id}}"></h2>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{progress _id}}%;">
                  60%
                </div>
              </div>

              <p class="invoiceId">
                <input type="hidden" class="id" value="{{_id}}">
                <ul class="list-unstyle">
                    {{#each product}}
                    <li class="finished {{#if cooked}}delete-mark{{/if}}">
                      {{name}}({{amount}})&emsp;<input type="checkbox" name="check" class="check" checked="{{cooked}}">
                    </li>
                    {{/each}}
                </ul>
              </p>
              <p>
                Order by: {{createdBy}}
              </p>
            </div>
          </div>
      	</article> <!-- end article -->

      {{else}}



  	<article class="timeline-entry left-aligned">

      <div class="timeline-entry-inner">
        <time class="timeline-time"><span>{{format createdAt}}</span> <span>{{livestamp createdAt}}</span></time>

        <div class="timeline-icon bg-info">
          <i class="entypo-feather"></i>
        </div>

        <div class="timeline-label">
          <h2><a href="#">Table #{{tableNumber}}</a> <span>Invoice ID:{{invoiceId}}</span>&nbsp;<input type="checkbox" name="done" class="done" checked="{{completed _id}}"></h2>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{progress _id}}%;">
              60%
            </div>
          </div>

          <p class="invoiceId">
            <input type="hidden" class="id" value="{{_id}}">
            <ul class="list-unstyle">
                {{#each product}}
                <li class="finished {{#if cooked}}delete-mark{{/if}}">
                  {{name}}({{amount}})&emsp;<input type="checkbox" name="check" class="check" checked="{{cooked}}">
                </li>
                {{/each}}
            </ul>
          </p>
          <p>
            Order by: {{createdBy}}
          </p>
        </div>
      </div>
  	</article>
      {{/if}}
    {{/each}}
  </div>
  	</div>
  </div>
</template>
