<template name="restuarant_navbar">
    <ul class="nav navbar-nav">
        <li class="{{isActiveRoute regex='restuarant.home'}}"><a href="{{pathFor 'restuarant.home'}}">Home</a></li>
        <li class="{{isActiveRoute regex='restuarant.orders'}}"><a href="{{pathFor 'restuarant.order'}}">Order</a></li>
        <li class="{{isActiveRoute regex='cpanel.exchange'}}">
            <a href="{{pathFor 'cpanel.exchange'}}">Exchange</a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Reports <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <!-- <li class="{{isActiveRoute regex='restuarant.myCustomerReport'}}"><a
                        href="{{pathFor 'restuarant.myCustomerReport'}}">Sample</a>
                </li> -->
            </ul>
        </li>
    </ul>
</template>
